@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*
--- RESETS START ---
*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #8083a3;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button {
  font-family: "Lato", sans-serif;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/*
--- RESETS END ---
*/
.header {
  height: 74px;
  max-height: 74px;
  min-height: 74px;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 140px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px 270px;
  }
}

.header-logo {
  height: 44px;
  max-height: 44px;
  width: 105px;
  max-width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-logo a {
  text-decoration: none;
}

.header-logo a img {
  height: 44px;
  max-height: 44px;
  width: 105px;
  max-width: 105px;
}

.header-button {
  background: #ffffff;
  border: 1px solid #eceef5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 35px;
  min-width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  color: #8083a3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55px;
}

@media (min-width: 768px) {
  .login {
    margin-top: 95px;
  }
}

.login-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #1a1c1d;
  max-width: 100%;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .login-title {
    max-width: 360px;
    padding: 0;
  }
}

.login-title-description {
  font-size: 14px;
  line-height: 21px;
  color: #8083a3;
  margin-bottom: 50px;
}

.login-form {
  width: 100%;
  max-width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .login-form {
    width: 420px;
    max-width: 420px;
    padding: 0;
    margin-bottom: 0;
  }
}

.login-form form {
  width: 100%;
  height: 100%;
}

.login-form-links {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-form-links a {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #6b59cc;
  text-decoration: none;
}

.login-form-links a:last-child {
  text-align: right;
}

.login-button {
  margin-top: 40px;
  height: 50px;
  min-height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d23737;
  border-radius: 10px;
  border: 1px solid #d23737;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #ffffff;
  color: #d23737;
}

.mfa-form {
  width: 100%;
  max-width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 55px;
  display: none;
}

@media (min-width: 768px) {
  .mfa-form {
    width: 420px;
    max-width: 420px;
    padding: 0;
    margin-bottom: 0;
  }
}

.mfa-form form {
  width: 100%;
  height: 100%;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.input-container label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 21px;
  color: #8083a3;
}

.input-container input {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1a1c1d;
  border: 0;
  outline: 0;
  width: 100%;
  height: 40px;
  min-height: 40px;
  border-bottom: 1px solid #eceef5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.input-container input:focus {
  border-bottom: 1px solid #1a1c1d;
}

.input-container input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.input-container input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.input-container input::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.input-container input::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.input-container-icon {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.nav {
  background-color: white;
  height: 100%;
  width: 84px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-right: 1px solid #eceef5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 75px 0 22px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-expanded {
  width: 270px;
}

.nav-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #8083a3;
}

.nav-item-active {
  background-color: #f8f9fc;
}

.nav-item-text {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 100%;
  margin-left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.nav-item-text-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 100%;
  margin-left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.nav-item-text-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1a1c1d;
}

.nav-logo {
  position: absolute;
  top: 22px;
  left: 22px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.nav-logo img {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.nav-logo2 {
  display: none;
  position: absolute;
  top: 22px;
  left: 22px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  width: 105px;
  min-width: 105px;
  max-width: 105px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.nav-logo2 img {
  width: 105px;
  min-width: 105px;
  max-width: 105px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.nav-icon-wrapper {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px;
  margin: 16px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  background-color: white;
}

@media (min-width: 1025px) {
  .nav-icon-wrapper {
    margin: 10px 0;
  }
}

@media (min-width: 1440px) {
  .nav-icon-wrapper {
    margin: 16px 0;
  }
}

.nav-icon-wrapper a {
  color: inherit;
}

.nav-icon-wrapper svg {
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  color: #8083a3;
}

.nav-icon-active {
  background-color: white;
  border: 1px solid #eceef5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-icon-active svg {
  color: #d23737;
}

.nav-text {
  margin-left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #8083a3;
}

.header-venues {
  height: 74px;
  max-height: 74px;
  min-height: 74px;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #eeeeee;
}

.header-venues-page {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #8083a3;
  margin-right: 10px;
}

.header-venues-wrapper {
  position: relative;
}

.header-venues-wrapper img {
  cursor: pointer;
}

.header-venues-wrapper-chevron {
  cursor: pointer;
  margin-left: 10px;
}

.header-venues-dropdown {
  display: none;
  width: 200px;
  position: absolute;
  top: 59px;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #eeeeee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  background-color: white;
}

.header-venues-dropdown-item {
  line-height: 21px;
  width: 100%;
  color: #1a1c1d;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-venues-dropdown-item:last-child {
  border-bottom: 0;
}

.header-venues-dropdown-item span {
  margin-right: 10px;
  color: #8083a3;
}

.header-venues-dropdown-item a {
  text-decoration: none;
  line-height: 21px;
  color: #8083a3;
}

.header-venues-dropdown-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-container {
  overflow-y: auto;
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  height: calc(100% - 74px);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

@media (min-width: 768px) {
  .layout-container {
    padding: 40px;
    width: calc(100% - 84px);
    left: 84px;
  }
}

.layout-container-expanded {
  left: 270px;
  width: calc(100% - 270px);
}

.dashboard-title {
  margin-bottom: 35px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #1a1c1d;
  max-width: 100%;
}

@media (min-width: 768px) {
  .dashboard-title {
    text-align: left;
  }
}

.dashboard-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .dashboard-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.dashboard-grid-item {
  border: 1px solid #d6cccc;
  background: #ffffff;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  height: 360px;
  min-height: 360px;
  max-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-grid-item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  height: 50px;
}

.dashboard-grid-item-head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard-grid-item-head-left img {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}

.dashboard-grid-item-head-left-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.dashboard-grid-item-head-left-description-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #272b31;
}

.dashboard-grid-item-head-left-description-link {
  line-height: 20px;
  color: #a6adb1;
}

.dashboard-grid-item-head-disable img {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  cursor: pointer;
}

.dashboard-grid-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.dashboard-grid-item-body img {
  border-radius: 15px;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 180px;
  min-height: 180px;
  max-height: 180px;
}

.dashboard-grid-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-grid-item-footer a {
  background-color: white;
  border: 1px solid #d23737;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #282b31;
  width: 240px;
  min-width: 240px;
  height: 50px;
  min-height: 50px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dashboard-grid-item-footer a:hover {
  background-color: #d23737;
  color: white;
}

.mobile-nav {
  background-color: white;
  border-top: 1px solid #eeeeee;
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 6px 16px rgba(153, 155, 168, 0.1);
          box-shadow: 0px 6px 16px rgba(153, 155, 168, 0.1);
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-icon-wrapper {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px;
  margin: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.mobile-nav-icon-wrapper a {
  color: #8083a3;
}

.mobile-nav-icon-wrapper svg {
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
}

.mobile-nav-icon-wrapper:first-child {
  margin: 0 10px 0 0;
}

.mobile-nav-icon-active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(107, 89, 204, 0.1)), to(rgba(107, 89, 204, 0.1))), #ffffff;
  background: linear-gradient(0deg, rgba(107, 89, 204, 0.1), rgba(107, 89, 204, 0.1)), #ffffff;
  border-radius: 4px;
  color: #d23737;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mobile-nav-icon-active a {
  color: #d23737;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-container-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #1a1c1d;
  max-width: 100%;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .profile-container-title {
    max-width: 360px;
    padding: 0;
  }
}

.profile-form-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .profile-form-wrapper {
    width: 420px;
    max-width: 420px;
    padding: 0;
    margin-bottom: 0;
  }
}

.profile-form-wrapper form {
  width: 100%;
  height: 100%;
}

.profile-form-submit {
  margin: 40px 0;
  height: 50px;
  min-height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d23737;
  border-radius: 10px;
  border: 1px solid #d23737;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  outline: none;
}

.profile-form-submit:hover {
  background-color: #ffffff;
  color: #d23737;
}

.profile-form-delete {
  text-decoration: none;
  margin: 40px 0;
  height: 50px;
  min-height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #70a6f5;
  border-radius: 10px;
  border: 1px solid #70a6f5;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.profile-form-delete:hover {
  background-color: #ffffff;
  color: #70a6f5;
}

.deleteAccount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.deleteAccount-container p {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #1a1c1d;
}

.deleteAccount-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deleteAccount-buttons-yes {
  background-color: #d23737;
  color: #ffffff;
  border: 1px solid #d23737;
}

.deleteAccount-buttons-yes:hover {
  background-color: #ffffff;
  color: #d23737;
}

.deleteAccount-buttons-no {
  background-color: #70a6f5;
  color: #ffffff;
  border: 1px solid #70a6f5;
}

.deleteAccount-buttons-no:hover {
  background-color: #ffffff;
  color: #70a6f5;
}

.deleteAccount-buttons a {
  text-decoration: none;
  margin: 20px;
  height: 30px;
  min-height: 30px;
  width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */